
{% include "core/navbar.html" %}


<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
<style>
h1 {
    font-family: 'Fredoka One';font-size: 50px;
    color: #8A2BE2;
}
</style>

<h1>&nbsp;Users</h1>



{% block content %}

	<ul>
	{% for user_p in users %}
		<li><a href="{{ user_p.get_absolute_url }}">{{ user_p }}</a></li>
	{% endfor %}
	</ul>

	


{% endblock %}