
{% include "core/navbar.html" %}

<style>
h1 {
    font-family: 'Fredoka One';font-size: 50px;
    color: #8A2BE2;
}
h5 {
    font-family: 'Fredoka One';font-size: 20px;
	color: #2963b9;
   
}
h2 {
    font-family: 'Comfortaa';font-size: 42px;
    color: #8A2BE2;
}
h {
    font-family: 'Fredoka One;font-size: 20px;
    color: #8A2BE2;
}
h4 {
    font-family: 'Comfortaa';font-size: 23px;
    color: #8A2BE2;
}




</style>

{% block content %}






	{% if request.user == u %}
    <div class="first-element">
		<h1>&nbsp;My Friends</h1>
    </div>
		
		{% for friend in friends_list %}
	
			<ul><a href="/profile/{{ friend.user.username }}"> <h4>{{ friend.user.username }}</h4></a></ul>
			
		{% endfor %}
	
  <div class = "row">
    <div class = "col-md-4">
      <div class ="container-fluid">
        <div class="jumbotron" style="background-color:#D3D3D3">
     
        <div align="center">
		<h2>Sent Friend requests</h2>
		<ul>
		{% for s_request in sent_friend_requests %}
		<h4>{{ s_request.to_user.username }}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h4>
		{% endfor %}
		</ul>
	
		  </div>
        </div>
      </div>
  </div>

    <div class = "col-md-4">
      <div class ="container-fluid">
        <div class="jumbotron" style="background-color:#D3D3D3">
     
        <div align="center">
		<h2>Received Friend requests</h2>
		
		{% for r_request in rec_friend_requests %}
			<p><a href="{{ r_request.from_user.profile.get_absolute_url }}">{{ r_request.from_user.username }}</a></p>
			<small><a class='btn btn-primary' href="/users/friend-request/accept/{{ r_request.from_user.id }}">Accept</a></small>
			<small><a class='btn btn-warning' href="/users/friend-request/delete/{{ r_request.from_user.id }}">Ignore</a></small>
		{% endfor %}
		</div>
		</div>
		</div>
		

	{% else %}

		{% if button_status == 'not_friend' %}
    <div class="first-element">
		<h4>&nbsp; Click to add friend </h4>
			<small >&nbsp;&nbsp;&nbsp;&nbsp;<a class='btn btn-primary' href="/users/friend-request/send/{{ u.id }}">Add Friend</a></small>
		{% elif button_status == 'friend_request_sent' %}
        <div class="first-element">
        <h4>&nbsp; Click to cancel friend request </h4>
			<small>&nbsp;&nbsp;&nbsp;&nbsp;<a class="btn btn-warning" href="/users/friend-request/cancel/{{ u.id }}">Cancel Request</a></small>
		{% endif %}

  
   
  


	{% endif %}
 
   <br>


   </br>


	</div>

<div class = "col-md-4">
    <div class ="container-fluid">
     <div class="jumbotron" style="background-color:#D3D3D3">
<h4> To add friends find all available users below who have signed up </h4>
<div class="dropdown">
  <h5><button onclick="myFunction()" class="dropbtn">Find Users </button></h5>
  <div id="myDropdown" class="dropdown-content">

	{% for user_p in users %}
		<a href="{{ user_p.get_absolute_url }}">{{ user_p }}</a>
	{% endfor %}
	
             </div>
            </div>
		  </div>
        </div>
      </div>
  </div>

<script>
function myFunction() {
  document.getElementById("myDropdown").classList.toggle("show");
}

// Close the dropdown menu if the user clicks outside of it
window.onclick = function(event) {
  if (!event.target.matches('.dropbtn')) {
    var dropdowns = document.getElementsByClassName("dropdown-content");
    var i;
    for (i = 0; i < dropdowns.length; i++) {
      var openDropdown = dropdowns[i];
      if (openDropdown.classList.contains('show')) {
        openDropdown.classList.remove('show');
      }
    }
  }
}
</script>



{% endblock %}