<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Profile Page</title>
 
  </head>
  <body>
    {% include "core/navbar.html" %}
    <div class="container first-element">
      <br>
      <div class="row justify-content-md-left align-items-start">
        <h3>Profile Creator</h3>
      </div>
      <form action="{% url 'createProfile' %}" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        {{ form.errors }}
    
        {% for field in form %}
        <div class="row">
          <p>{{ field.label }}: {{ field }}</p>
        </div>
        {% endfor %}
        <div class="row">
          <input type="submit" class="button expanded" value="Create Profile" />
        </div>
      </form>
      <br>
    </div>

  </body>
</html>