
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <link href='https://fonts.googleapis.com/css?family=Fredoka One' rel='stylesheet'>
  <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Comfortaa:wght@300&display=swap" rel="stylesheet">
  <style>
a {
    font-family: 'Fredoka One';font-size: 17px;
    color: #2963b9;
}
  </style>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="/chat/">Chats</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/friends/{{ user.username}}/">Friends</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/createProfile/">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/about/">About</a>
      </li>
      {% if user.is_authenticated %}
        <li>
            <a class="nav-link" href="{% url 'user_logout' %}">Logout</a>
        </li>
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="/join/">Join</a>
        </li>
        <li class>
            <a class="nav-link" href="/login/">Login</a>
        </li>
        {% endif %}

        {% if user %}
  <div class="dropdown">
    <button class="btn" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
      <img src="{{ profile.picture.url }}", class="avatar" width="25" height="25">
    </button>

    <div class="dropdown-menu dropdown-menu-right">
      <div class="dropdown-container">
        Signed in as<br>
        <strong>{{ user.username  }}</strong>
      </div>

      <div class="dropdown-divider"></div>
      <a class="dropdown-item" href="/profile/{{ user.username }}">Profile</a>
      <a class="dropdown-item" href="{% url 'createProfile' %}">Update Your Profile</a>

      <div class="dropdown-divider"></div>

      <div class="dropdown-footer">
        <a class="nav-item nav-link text-info" href="/api/v1/" target="_blank">REST API</a>
      </div>
    </div>

   
  {% endif %}
    </ul>
  </div>
</nav>
