<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Profile</title>


  </head>
  <body>
    {% include "core/navbar.html" %}
    <!--
    <h1>Profile Page</h1> -->
    <br>
    <div class="container-fluid profileCard first-element">
      <div class="row">
        {% if user %}
        {% if is_an_account %}
        <div class="card col-4">
          <div class="profileImage"></div>
          <img src="{{ pic }}" style="width:100%">
          <h1>{{user_info.first_name}} {{ user_info.last_name}}</h1>
          <h3>{{ user_info.username }}</h3>
          <p class="title">{{ user_info.email }}</p>
          <p class="title">{{ user_info.UserProfile.bio }}</p>
          {% endif %}
        </div>
      </div>
    </div>
    <br>
    <div class="container-fluid profileCard first-element">

