<!-- chat/templates/chat/index.html -->
<!DOCTYPE html>
{% include "core/navbar.html" %}

<html>
<head>
<style>
h1 {
    font-family: 'Comfortaa';font-size: 25px;
    color: #8A2BE2;
}
h2 {
    font-family: 'Fredoka One';font-size: 50px;
    color: #8A2BE2;
}
</style>
    <meta charset="utf-8"/>
    <title>Chat Rooms</title>
</head>



<body>
<div class="first-element">
<h2>&nbsp;Chats</h2>


  <div class = "row">
    <div class = "col-md-4">
      <div class ="container-fluid">
<div class = "jumbotron">
    <h1>What chat room would you like to enter?</h1>
    <input id="room-name-input" type="text" size="20"><br>
    <input id="room-name-submit" type="button", value="Enter">
</div>
</div>
</div>
</div>
    <script>
        document.querySelector('#room-name-input').focus();
        document.querySelector('#room-name-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#room-name-submit').click();
            }
        };

        document.querySelector('#room-name-submit').onclick = function(e) {
            var roomName = document.querySelector('#room-name-input').value;
            document.getElementById("demo").innerHTML = roomName;
            window.location.pathname = '/chat/' + roomName + '/';
        };
    </script>

    <p id="demo"></p>


</body>
</html>