
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <title>Profile</title>
    
  </head>
  <body>
    {% include "core/navbar.html" %}

    
    <div class="container-fluid first-element">
    <h9>Profile</h9>
      <div class="row">
        {% if is_user %}
        {% if is_an_account %}
        <div class="card col-4">
          <div class="profileImage"></div>
          <img src="{{ pic }}" style="width:100%">
          <h1>{{user_info.first_name}} {{ user_info.last_name}}</h1>
          <h3>{{ user_info.username }}</h3>
          <p class="title">{{ user_info.email }}</p>
          <p class="title">{{ user_info.UserProfile.bio }}</p>
         </div>
       </div>
     </div>
    <br>


    {% endif %}
    {% endif %}